:root {
    --full-screen: 100%;

    --color-blue: #2f64d6;
    --color-yellow: #f8db27;
    --color-brown: #9c5b01;

    --main-flex-property: center;
}

* {
    margin: 0;
    padding: 0;
}

/* En-tête */

header {
    background-color: var(--color-blue);
    height: 10vh;
    margin: auto;
    display: flex;
    align-items: var(--main-flex-property);
    justify-content: var(--main-flex-property);
}

header h1 {
    background-color: var(--color-blue);
    font-family: 'Delicious Handrawn', cursive;
    font-size: 60px;
    color: white;
}

/* Main */
main {
    height: 80vh;
    display: flex;
    align-items: var(--main-flex-property);
    background-color: var(--color-brown);
}

main ul {
    list-style: none;
    height: 90%;
    width: var(--full-screen);
    display: flex;
}

main ul li {
    background: var(--color-yellow);
    display: flex;
    flex-direction: column;
    justify-content: var(--main-flex-property);
    align-items: var(--main-flex-property);
    justify-content: space-around;
    border-radius: 16px;
    margin-inline: 20vw;;
    height: var(--full-screen);
    width: var(--full-screen);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    animation: fade 1.2s ease-in-out;
}

main ul li h2 {
    font-family: 'Delicious Handrawn', cursive;
    font-size: 60px;
}

main ul li img {
    border-radius: 8px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 300px;
}

main ul li p {
    font-family: 'Delicious Handrawn', cursive;
    font-size: 32px;
    margin-inline: 5vw;
    text-align: left;
}

main ul li button, section button {
    padding: 20px 40px;
    cursor: pointer;
    border-radius: 16px;
    margin-block: 24px;
    background-color: black;
    color: white;
    font-family: 'Delicious Handrawn', cursive;
    font-size: 32px;
}

/* Button for API changing */

section button {
    padding: 10px 10px;
    position: absolute;
    top: 50%;
    margin-block: 0;
    margin-left: 2%;
}

/* Footer part */

footer {
    background-color: var(--color-blue);
    height: 10vh;
}

footer ul {
    height: var(--full-screen);
    display: flex;
    gap: 60px;
    list-style: none;
    justify-content: var(--main-flex-property);
    align-items: var(--main-flex-property);
}

footer ul li img {
    height: 50px;
    object-fit: cover;
}

/* Loader part */

.cs-loader {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  
  .cs-loader-inner {
    transform: translateY(-50%);
    top: 50%;
    position: absolute;
    width: calc(100% - 200px);
    color: #f3a81d;
    padding: 0 100px;
    text-align: var(--main-flex-property);
  }
  
  .cs-loader-inner label {
    font-size: 50px;
    opacity: 0;
    display:inline-block;
  }

  @keyframes fade {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes lol {
    0% {
      opacity: 0;
      transform: translateX(-300px);
    }
    33% {
      opacity: 1;
      transform: translateX(0px);
    }
    66% {
      opacity: 1;
      transform: translateX(0px);
    }
    100% {
      opacity: 0;
      transform: translateX(300px);
    }
  }
  
  @-webkit-keyframes lol {
    0% {
      opacity: 0;
      -webkit-transform: translateX(-300px);
    }
    33% {
      opacity: 1;
      -webkit-transform: translateX(0px);
    }
    66% {
      opacity: 1;
      -webkit-transform: translateX(0px);
    }
    100% {
      opacity: 0;
      -webkit-transform: translateX(300px);
    }
  }
  
  .cs-loader-inner label:nth-child(6) {
    -webkit-animation: lol 3s infinite ease-in-out;
    animation: lol 3s infinite ease-in-out;
  }
  
  .cs-loader-inner label:nth-child(5) {
    -webkit-animation: lol 3s 100ms infinite ease-in-out;
    animation: lol 3s 100ms infinite ease-in-out;
  }
  
  .cs-loader-inner label:nth-child(4) {
    -webkit-animation: lol 3s 200ms infinite ease-in-out;
    animation: lol 3s 200ms infinite ease-in-out;
  }
  
  .cs-loader-inner label:nth-child(3) {
    -webkit-animation: lol 3s 300ms infinite ease-in-out;
    animation: lol 3s 300ms infinite ease-in-out;
  }
  
  .cs-loader-inner label:nth-child(2) {
    -webkit-animation: lol 3s 400ms infinite ease-in-out;
    animation: lol 3s 400ms infinite ease-in-out;
  }
  
  .cs-loader-inner label:nth-child(1) {
    -webkit-animation: lol 3s 500ms infinite ease-in-out;
    animation: lol 3s 500ms infinite ease-in-out;
  }